body {

    color: #353d2fff; /* Black Olive text */
    height: 100vh;
    margin: 0;
}


.btn, .form-label{
    margin-top: 1em;
}





.error-message {
  color: red;
  display: none; /* Hide by default */
}

.error-message.active {
  display: block; /* Show when active */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f8d7da; /* Red tone for errors */
  padding: 10px;
  border: 1px solid #f5c6cb; /* Red tone for errors */
}


