{% extends "base.html" %}
{% block content %}
    <!-- about page -->
    <h1>Contact</h1>
    <p>Complete the form below if you need to contact us:</p>
    <!-- TODO: Add form validation -->
    <!-- TODO: Add form submission -->
    <form action="/contact" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email"
                   maxlength="255"
                   minlength="5"
                   oninvalid="this.setCustomValidity('Enter valid email address here')"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
        </div>
        <div class="form-group>
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message"></textarea>
        </div>
        <p id="error"></p>
        <input type="submit" onclick="validateForm()" value="Submit">
    </form>

    <script>
        function validateForm() {
            let name = document.getElementById("name").value;
            let email = document.getElementById("email").value;
            let message = document.getElementById("message").value;

            if (name == "" || email == "" || message == "") {
                document.getElementById("error").innerHTML = "All fields are required";
                return false;
            }
            else if (name.length < 3) {
                document.getElementById("error").innerHTML = "Name must be at least 3 characters";
                return false;
            }
            else if (email.length < 5) {
                document.getElementById("error").innerHTML = "Email must be at least 5 characters";
                return false;
            }
            else if (message.length < 10) {
                document.getElementById("error").innerHTML = "Message must be at least 10 characters";
                return false;
            }
            else if (email.indexOf("@") == -1) {
                document.getElementById("error").innerHTML = "Email must contain @";
                return false;
            }
            else if (email.indexOf(".") == -1) {
                document.getElementById("error").innerHTML = "Email must contain .";
                return false;
            }
            else {
                return true;
            }
        }
    </script>
{% endblock %}