{% extends "base.html" %}
{% block content %}
    {{ request.endpoint }}
    <!-- about page -->
    <!-- TODO: Add form validation -->
    <!-- TODO: Add form submission -->
    <form action="/contact" method="post"
          name="message-form" id="message-form"
          aria-labelledby="formTitle" aria-describedby="formDesc">
        <fieldset class="border p-3">
            <legend id="formTitle" class="float-none w-auto p-2">Contact Us</legend>
            <p id="formDesc" class="text-muted">Please fill out the form below to contact us</p>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" form="message-form"
                       placeholder="Enter your name"
                       maxlength="30" minlength="3"
                       pattern="\b[a-zA-Z\s]{3,30}\b" required>
                <span class="error-message invalid-feedback" style="display:none; color:red;">
                    Your name must be between 3 and 30 characters and contain only letters
                </span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" form="message-form"
                       placeholder="Enter your email address"
                       maxlength="255"
                       minlength="5"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                <span class="invalid-feedback error-message" style="display:none; color:red;">
                    Enter a valid email address
                </span>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message:</label>
                <textarea class="form-control" id="message" name="message" form="message-form"
                    placeholder="Enter the your message" maxlength="255" spellcheck="true"
                          minlength="10" required ></textarea>
                <span class="invalid-feedback error-message" style="display:none; color:red;">
                    Your message must be between 10 and 255 characters
                </span>
            </div>

                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </fieldset>
    </form>
{% endblock %}